# ignore object files
*.o
# You should put this .gitignore into the folder, then "git add .gitignore" :
#*
#!.gitignore
#
#The * line tells git to ignore all files in the folder, but !.gitignore tells git to still include the .gitignore file. This way, your local repository and any other clones of the repository all get both the empty folder and the .gitignore it needs.
#
# also explicitly ignore our executable for good measure
hello_world
# also explicitly ignore our debug executable for good measure
hello_world_debug

# ignore generated C header and implementation file for helloworld.c
anvil__hello_world.c
anvil__hello_world.h

#ignore dot output
logic.png
#ignore cfg dot output
amboso_cfg.dot
#ignore bin dir
bin
#ignore build dir
build

#ignore logfile
anvil.log
